[submodule "src/external/asterics-wiki"]
	path = src/external/asterics-wiki
	url = https://github.com/asterics/AsTeRICS.wiki.git
[submodule "src/external/asterics"]
	path = src/external/asterics
	url = https://github.com/asterics/AsTeRICS.git
