[submodule "AsTeRICS"]
	path = submodules/asterics
	url = https://github.com/asterics/AsTeRICS.git
[submodule "WebACS"]
	path = submodules/webacs
	url = https://github.com/asterics/WebACS.git
[submodule "asterics-docs"]
	path = submodules/asterics-docs
	url = https://github.com/asterics/asterics-docs.git
[submodule "AsTeRICS-Grid"]
	path = submodules/asterics-grid
	url = https://github.com/asterics/AsTeRICS-Grid.git
[submodule "asterics-camerainput-cameramouse"]
	path = submodules/asterics-camerainput-cameramouse
	url = https://github.com/asterics/asterics-camerainput-cameramouse.git
[submodule "asterics-camerainput-eyecontrol"]
	path = submodules/asterics-camerainput-eyecontrol
	url = https://github.com/asterics/asterics-camerainput-eyecontrol.git
[submodule "asterics-solution-template"]
	path = submodules/asterics-solution-template
	url = https://github.com/asterics/asterics-solution-template.git
[submodule "submodules/asterics-docs-js"]
	path = submodules/asterics-docs-js
	url = https://github.com/asterics/asterics-docs.js.git
