// Color configuration
$accentColor = #0EA1D2
$textColor = #000000
// $borderColor = #27BAEB
// $borderColor = #000000
// $borderColor = #ffffff
// $codeBgColor = #ffffff
// $codeBgColor = #eeeeee
// $codeBgColor = #002152

// Layout configuration
$navbarHeight = 3.5rem
$sidebarWidth = 15rem
$contentWidth = 900px