.navbar 
    height 3.5rem

.sidebar 
    width 20rem

@media screen and (max-width: 768px)
    .content 
        max-width 99% !important

.myjumbotron 
    overflow-wrap: break-word
    word-wrap: break-word
    hyphens: auto
    display: inline-block
    width: 100%

.nav-link
    padding: 0

:focus 
    outline-width: 3px
    outline-style: solid
    outline-color: $info