// Define your variable overrides here
$enable-shadows: true;
// $enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);

$primary: #075069;
$secondary: #42b983;
$info: #0ea1d2;

// $primary: #0ea1d2;
// $secondary: #42b983;
// $info: #075069;

// Include Bootstrap and BootstrapVue SCSS files
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
