.navbar 
    height 3.5rem

.sidebar 
    width 20rem

@media screen and (max-width: 1024px)
    .content 
        max-width 80% !important
        transition max-width 0.5s ease-out

@media screen and (max-width: 768px)
    .content 
        max-width 99% !important

.nav-link
    padding: 0

:focus 
    outline-width: 3px
    outline-style: solid
    outline-color: $info

#app > div.theme-container.no-sidebar > header > div.links > nav > div:nth-child(6) > div > ul > li {
    background-color: white
}