.navbar 
    height 3.5rem

.sidebar 
    width 20rem

@media screen and (max-width: 1024px)
    .content 
        max-width 80% !important
        transition max-width 0.5s ease-out

@media screen and (max-width: 768px)
    .content 
        max-width 99% !important

.nav-link
    padding: 0.5rem 0.15rem 0.5rem 0.15rem

:focus 
    outline-width: 3px
    outline-style: solid
    outline-color: #0ea1d2 !important

.theme-default-content > h1
    margin-top: 0rem !important
    padding-top: 0rem !important
